# Django related requirements
django==1.9.9
django-filter==0.13.0
psycopg2==2.6.1
simplejson==3.8.2
djangorestframework==3.3.3
#django-spillway==0.5.3
git+https://github.com/bkg/django-spillway.git@a4ac395a5bb05c3c3b8f258444b9fba23844ba46#egg=django_spillway
pylibmc==1.3.0
pytz==2016.6.1

mapnik==0.1
mapbox-vector-tile==0.2.1
# Must be built prior to GDAL
numpy==1.11.0
GDAL==1.11.2
#greenwich==0.6.1
git+https://github.com/bkg/greenwich.git@ac7b02308d6527e8bd1c174b53e37f55ad59db60#egg=greenwich

Fabric==1.12.0

# SSIM API
# TODO: not on PyPI and git repo is ~400MB but there is a .zip in ./dist,
# however we need to figure out authentication to GitLab for private repo.
#https://gitlab.com/jsherba/ssim_python_API/blob/master/dist/ssim_api-0.0.2.zip
